<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a urna augue, sit amet molestie lectus. Cras nec est est. Aenean interdum nisi non purus mattis eget sagittis nunc sagittis. Morbi laoreet nisl id felis tristique sed ullamcorper mauris ornare. Fusce elementum rutrum purus, ac porta ante porta quis.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="{{context-root}}/signup">Create an account</a>
    or
    <a class="btn btn-lg btn-primary" href="{{context-root}}/login">Log in</a>
  </p>
</div>
