body {
    background-color: #FFF;
    padding-top: 60px;
}

.jumbotron {
    padding-top: 20px;
    text-align: center;
}

.auth-form {
    background-color: #F5F5F5;
    width: 450px; 
    margin: 50px auto; 
    padding: 10px 40px 20px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form h2 {
    margin-bottom: 20px;
}

.auth-form input[type="text"], 
.auth-form input[type="password"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}

.footer {
    padding: 30px 0;
    color: #999;
}