body {
    padding-top: 60px;
}

footer {
    height: 60px;
    text-align: center;
}

footer p {
    padding-top: 20px;
}

.right-menu .dropdown-menu {
    left: auto;
    right: 0;
}

.login-form {
    width: 350px; 
    margin: 50px auto; 
    padding: 10px 40px 20px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #eee;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form .links {
    padding-top: 20px;
    text-align: center;
}

.login-form input[type="text"], 
.login-form input[type="password"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}
