<div class="form-horizontal login-form">
  <h2>Please log in</h2>
  <form method="post" action="{{context-root}}/login">
    <div class="control-group">
      <input type="text" name="login" placeholder="Username or Email" class="input-block-level" />
    </div>
    <div class="control-group">
      <input type="password" name="password" placeholder="Password" class="input-block-level" />
    </div>
    <div class="control-group">
      <label class="checkbox">
	<input type="checkbox" value="remember-me">
	Remember me
	</input>
      </label>
    </div>
    <div class="control-group">
      <input type="submit" value="Log in" class="btn btn-inverse btn-large pull-right" />
    </div>
    <div class="links">
      <span><a href="" >Register</a> - <a href="">Forgot password?</a></span>
    </div>
  </form>
</div>
