<div class="login-form">
  <form role="form" method="post" action="{{context-root}}/login">
    <h2>Log in</h2>
    {{#flash}}
    <div class="alert alert-error">
      {{error}}
    </div>
    {{/flash}}

    <div class="form-group">
      <label>Username or Email</label>
      <input type="text" class="form-control" name="login" />
    </div>

    <div class="form-group">
      <label>Password (<a href="">forgot your password?</a>)</label>
      <input type="password" class="form-control" name="password" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
    </div>
  </form>
</div>
